@model Personagem;
<div class="modal fade" id="_DetalheRacaModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title display-6 texto-2" id="modalTitleId">Detalhe da Raça @Model.Raca.Nome</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @foreach (var listaraca in @ViewBag.listaraca)
                    {
                        string Habilidade = null;
                        @if(listaraca.IdRaca == @Model.IdRaca)
                        {
                            @if (listaraca.BonusConstituicao != null)
                            {
                                Habilidade = listaraca.BonusConstituicao + " de bônus de Constituição";
                            }
                            @if (listaraca.BonusForca != null)
                            {
                                if (Habilidade != null)
                                {
                                    Habilidade = Habilidade + " e " + listaraca.BonusForca + " de bônus de Força";
                                }
                                else
                                {
                                    Habilidade = listaraca.BonusForca + " de bônus de Força";
                                }
                            }
                            @if (listaraca.BonusDestreza != null)
                            {
                                if (Habilidade != null)
                                {
                                    Habilidade = Habilidade + " e " + listaraca.BonusDestreza + " de bônus de Destreza";
                                }
                                else
                                {
                                    Habilidade = listaraca.BonusDestreza + " de bônus de Destreza";
                                }
                            }
                            @if (listaraca.BonusInteligencia != null)
                            {
                                if (Habilidade != null)
                                {
                                    Habilidade = Habilidade + " e " + listaraca.BonusInteligencia + " de bônus de Inteligência";
                                }
                                else
                                {
                                    Habilidade = listaraca.BonusInteligencia + " de bônus de Inteligência";
                                }
                            }
                            @if (listaraca.BonusSabedoria != null)
                            {
                                if (Habilidade != null)
                                {
                                    Habilidade = Habilidade + " e " + listaraca.BonusSabedoria + " de bônus de Sabedoria";
                                }
                                else
                                {
                                    Habilidade = listaraca.BonusSabedoria + " de bônus de Sabedoria";
                                }
                            }
                            @if (listaraca.BonusCarisma != null)
                            {
                                if (Habilidade != null)
                                {
                                    Habilidade = Habilidade + " e " + listaraca.BonusCarisma + " de bônus de Carisma";
                                }
                                else
                                {
                                    Habilidade = listaraca.BonusCarisma + " de bônus de Carisma";
                                }
                            }
                            <div class="text-left ms-1 row col-12">
                                <div class="row col">
                                    <div class="col-6 me-0">
                                        <div class="table-responsive">
                                            <table class="table table-primary">
                                                <tbody>
                                                    <tr>
                                                        <th class="texto-conteudo border border-dark border-1">Nome</th>
                                                        <td class="texto-conteudo border border-dark border-1">@listaraca.Nome</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="texto-conteudo border border-dark border-1">Aumento no valor
                                                            de
                                                            habilidade:</th>
                                                        <td class="texto-conteudo border border-dark border-1">@Habilidade</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="texto-conteudo border border-dark border-1">Tamanho</th>
                                                        <td class="texto-conteudo border border-dark border-1">@listaraca.Tamanho</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="texto-conteudo border border-dark border-1">Idade</th>
                                                        <td class="texto-conteudo border border-dark border-1">@listaraca.Idade</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="texto-conteudo border border-dark border-1">Deslocamento</th>
                                                        <td class="texto-conteudo border border-dark border-1">
                                                            @Html.Raw(@listaraca.Deslocamento+"m")</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="texto-conteudo border border-dark border-1">Tamanho</th>
                                                        <td class="texto-conteudo border border-dark border-1">@listaraca.Tamanho</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="texto-conteudo border border-dark border-1">Idioma(s)</th>
                                                        @if (listaraca.IdIdioma != 2)
                                                        {
                                                            <td class="texto-conteudo border border-dark border-1">Comum + @listaraca.Idioma.Nome
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td class="texto-conteudo border border-dark border-1">@listaraca.Idioma.Nome</td>
                                                        }
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-primary">
                                                <tbody>
                                                    @foreach (var listahabilidaderaca in @ViewBag.listahabilidaderaca)
                                                    {
                                                        if (listahabilidaderaca.IdRaca == listaraca.IdRaca)
                                                        {
                                                            <tr class="">
                                                                <th class="texto-conteudo border border-dark border-1">
                                                                    @listahabilidaderaca.HabilidadeRacial.Nome</th>
                                                                <td class="texto-conteudo border border-dark border-1">
                                                                    @listahabilidaderaca.HabilidadeRacial.Descricao</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    @foreach (var listasubraca in @ViewBag.listasubraca)
                                    {
                                        if (listasubraca.IdRaca == listaraca.IdRaca && listasubraca.IdSubRaca == @Model.IdSubRaca)
                                        {
                                            Habilidade = null;
                                            @if (listasubraca.BonusConstituicao != null)
                                            {
                                                Habilidade = listasubraca.BonusConstituicao + " de bônus de Constituição";
                                            }
                                            @if (listasubraca.BonusForca != null)
                                            {
                                                if (Habilidade != null)
                                                {
                                                    Habilidade = Habilidade + " e " + listasubraca.BonusForca + " de bônus de Força";
                                                }
                                                else
                                                {
                                                    Habilidade = listasubraca.BonusForca + " de bônus de Força";
                                                }
                                            }
                                            @if (listasubraca.BonusDestreza != null)
                                            {
                                                if (Habilidade != null)
                                                {
                                                    Habilidade = Habilidade + " e " + listasubraca.BonusDestreza + " de bônus de Destreza";
                                                }
                                                else
                                                {
                                                    Habilidade = listasubraca.BonusDestreza + " de bônus de Destreza";
                                                }
                                            }
                                            @if (listasubraca.BonusInteligencia != null)
                                            {
                                                if (Habilidade != null)
                                                {
                                                    Habilidade = Habilidade + " e " + listasubraca.BonusInteligencia + " de bônus de Inteligência";
                                                }
                                                else
                                                {
                                                    Habilidade = listasubraca.BonusInteligencia + " de bônus de Inteligência";
                                                }
                                            }
                                            @if (listasubraca.BonusSabedoria != null)
                                            {
                                                if (Habilidade != null)
                                                {
                                                    Habilidade = Habilidade + " e " + listasubraca.BonusSabedoria + " de bônus de Sabedoria";
                                                }
                                                else
                                                {
                                                    Habilidade = listasubraca.BonusSabedoria + " de bônus de Sabedoria";
                                                }
                                            }
                                            @if (listasubraca.BonusCarisma != null)
                                            {
                                                if (Habilidade != null)
                                                {
                                                    Habilidade = Habilidade + " e " + listasubraca.BonusCarisma + " de bônus de Carisma";
                                                }
                                                else
                                                {
                                                    Habilidade = listasubraca.BonusCarisma + " de bônus de Carisma";
                                                }
                                                
                                            }
                                            <div class="col-6 me-0">
                                                <div class="table-responsive">
                                            <table class="table table-primary">
                                                <tbody>
                                                    <tr>
                                                        <th class="texto-conteudo border border-dark border-1">Nome</th>
                                                        <td class="texto-conteudo border border-dark border-1">@listasubraca.Nome</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="texto-conteudo border border-dark border-1">Aumento no valor
                                                            de
                                                            habilidade:</th>
                                                        <td class="texto-conteudo border border-dark border-1">@Habilidade</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-primary">
                                                <tbody>
                                                    @foreach (var listahabilidadesubraca in @ViewBag.listahabilidadesubraca)
                                                    {
                                                        if (listahabilidadesubraca.IdSubRaca == listasubraca.IdSubRaca)
                                                        {
                                                            <tr class="">
                                                                <th class="texto-conteudo border border-dark border-1">
                                                                    @listahabilidadesubraca.HabilidadeRacial.Nome</th>
                                                                <td class="texto-conteudo border border-dark border-1">
                                                                    @listahabilidadesubraca.HabilidadeRacial.Descricao</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                            </div>
                                        
                                        }
                                    }
                                
                                </div>
                            </div>
                        }
                    }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>