<div class="col row p-0 m-0 text-center" data-bs-toggle="modal" data-bs-target="#_EscolherDinheiroModal">
    <div class="col row w-100 px-0">
        <div class="row p-0 my-1">
            <div class="col m-0 p-0">
                <label class="">PC</label>
            </div>
            <div class="col m-0 p-0">
                <input type="number" class="w-100 border border-1 border-dark text-center p-0 m-0" readonly
                    value="@Model.PC">
            </div>


        </div>
        <div class="row p-0 my-1">
            <div class="col m-0 p-0">
                <label class="">PP</label>
            </div>
            <div class="col m-0 p-0">
                <input type="number" class="w-100 border border-1 border-dark text-center p-0 m-0" readonly
                    value="@Model.PP">
            </div>


        </div>
        <div class="row p-0 my-1">
            <div class="col m-0 p-0">
                <label class="">PE</label>
            </div>
            <div class="col m-0 p-0">
                <input type="number" class="w-100 border border-1 border-dark text-center p-0 m-0" readonly
                    value="@Model.PE">
            </div>


        </div>
        <div class="row p-0 my-1">
            <div class="col m-0 p-0">
                <label class="">PO</label>
            </div>
            <div class="col m-0 p-0">
                <input type="number" class="w-100 border border-1 border-dark text-center p-0 m-0" readonly
                    value="@Model.PO">
            </div>


        </div>
        <div class="row p-0 my-1">
            <div class="col m-0 p-0">
                <label class="">PL</label>
            </div>
            <div class="col m-0 p-0">
                <input type="number" class="w-100 border border-1 border-dark text-center p-0 m-0" readonly
                    value="@Model.PL">
            </div>


        </div>
    </div>
</div>