@model Personagem;
<div class="container" style="min-width: 1000px;">
    @* Nome + Classe/Nível + Raça *@
    <div class="row">
        @* Nome *@
        <div class="col-6 border py-3">
            <input type="text" size="40" readonly value="@Model.Nome" style="vertical-align: middle"
                data-bs-toggle="modal" data-bs-target="#_EscolherNomeModal">
            <partial name="~/Views/Personagem/_EscolherNomeModal.cshtml"></partial>
            <label class="text-uppercase small d-block text-left">NOME:</label>
        </div>
        @* Classe/Nivel + Raça *@
        <div class="col-3 border py-3">
            @* Classe/Nivel + Raça *@
            <div class="col row">
                @* Classe/Nível *@
                <div class="col">
                    @foreach (var listaclasse in @ViewBag.listaclasse)
                    {
                        if (@Model.IdClasse == listaclasse.IdClasse)
                        {
                            <input type="text" size="25" readonly value='@listaclasse.Nome'
                        data-bs-target="#_DetalheClasseModal" data-bs-toggle="modal">
                            <partial name="~/Views/Classe/_DetalheClasseModal.cshtml"></partial>
                        }
                    }
                    @if (@Model.IdClasse == null)
                    {
                        <input type="text" size="25" readonly data-bs-toggle="modal" data-bs-target="#_EscolherClasseModal">
                    }
                    @if (@Model.IdRaca is not null)
                    {
                        <partial name="~/Views/Classe/_EscolherClasseModal.cshtml"></partial>
                    }
                    <label class="text-uppercase small d-block text-left">Classe/Nível</label>
                </div>
                <div class="col p-0">
                    <form id="nivel_form" asp-action="AlterarNivel" asp-controller="Personagem">
                        <input type="number" onfocusout="submit()" asp-for="@Model.Nivel" class="w-50" min=1 max=20>
                        <input type="hidden" asp-for="@Model.IdPersonagem">
                    </form>
                    <script>
                        function submit() {
                            document.getElementById("nivel_form").submit();
                        }
                    </script>
                </div>
                @* Raça *@
                <div>
                    @foreach (var listaraca in @ViewBag.listaraca)
                    {
                        @if (@Model.IdSubRaca == null && @Model.IdRaca != null && @Model.IdRaca == listaraca.IdRaca)
                        {
                            <input type="text" size="25" readonly value="@listaraca.Nome" data-bs-toggle="modal"
                        data-bs-target="#_DetalheRacaModal">
                            <partial name="~/Views/Raca/_DetalheRacaModal.cshtml"></partial>
                        }

                        @if (@Model.IdSubRaca != null)
                        {
                            @foreach (var listasubraca in @ViewBag.listasubraca)
                            {
                                if ((@Model.IdSubRaca == listasubraca.IdSubRaca && listasubraca.IdRaca == listaraca.IdRaca &&
                                @Model.IdSubRaca != null) || (@Model.IdRaca == listaraca.IdRaca && @Model.IdSubRaca == null))
                                {
                                    <input type="text" size="25" readonly value="@listaraca.Nome - @listasubraca.Nome"
                        data-bs-toggle="modal" data-bs-target="#_DetalheRacaModal">
                                    <partial name="~/Views/Raca/_DetalheRacaModal.cshtml"></partial>
                                }
                            }
                        }
                    }
                    @if (@Model.IdRaca == null)
                    {
                        <input type="text" size="25" readonly data-bs-toggle="modal" data-bs-target="#_EscolherRacaModal">
                    }
                    <partial name="~/Views/Raca/_EscolherRacaModal.cshtml"></partial>
                    <label class="text-uppercase small d-block text-left">Raça</label>
                </div>
            </div>
        </div>
        @* Antecedente+Alinhamento *@
        <div class="col-3 border py-3">
            <div class="col row">
                @* Antecedente *@
                <div>
                    @foreach (var listaantecedente in @ViewBag.listaantecedente)
                    {
                        if (@Model.IdAntecedente == listaantecedente.IdAntecedente)
                        {
                            <input type="text" size="25" readonly value="@listaantecedente.Nome" data-bs-toggle="modal"
                        data-bs-target="#_DetalheAntecedenteModal">
                            <partial name="~/Views/Antecedente/_DetalheAntecedenteModal.cshtml"></partial>
                        }
                    }
                    @if (@Model.IdAntecedente == null)
                    {
                        <input type="text" size="25" readonly data-bs-toggle="modal"
                        data-bs-target="#_EscolherAntecedenteModal">
                        <partial name="~/Views/Antecedente/_EscolherAntecedenteModal.cshtml"></partial>
                    }
                    <label class="text-uppercase small d-block text-left">Antecedente</label>
                </div>
                @* Alinhamento *@
                <div>
                    @if (@Model.Tendencia == "")
                    {
                        <input type="text" size="25" placeholder="Alinhamento" readonly data-bs-toggle="modal"
                        data-bs-target="#_EscolherTendenciaModal">
                        <partial name="_EscolherTendenciaModal"></partial>
                    }
                    <partial name="_DetalheTendencia"></partial>
                    <label class="text-uppercase small d-block text-left">Alinhamento</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5 border">
            @* Atributos + Iniciativa + B.Proficiencia + Salvaguarda + Pericia *@
            <div class="row">
                @* Atributos *@
                <div class="col-3 p-1">
                    <partial name="~/Views/Atributo/_EscolherAtributoModal.cshtml"></partial>
                    <partial name="~/Views/Atributo/_AlterarAtributoModal.cshtml"></partial>
                    <partial name="~/Views/Atributo/_DetalheAtributo.cshtml"></partial>
                </div>
                @* Iniciativa + B.Proficiencia + Salvaguarda + Pericia *@
                <div class="col-8 p-0">
                    @* Iniciativa *@
                    <div class="border p-1">
                        <input type="text" value="@Model.ModificadorDestreza" size="1">
                        <label>INICIATIVA</label>
                    </div>
                    @* B.Proficiencia *@
                    <div class="border p-1">
                        <input type="text" size="1" asp-for="@Model.BonusProficiencia" readonly>
                        <label>PROEFICIÊNCIA</label>
                    </div>
                    @* Salvaguardas *@
                    <div class="border p-2">
                        @if (@Model.IdClasse == null)
                        {
                            <partial name="~/Views/Personagem/_SalvaguardaVazia.cshtml"></partial>
                        }
                        @foreach (var listaclasse in @ViewBag.listaclasse)
                        {
                            @if (listaclasse.IdClasse == @Model.IdClasse)
                            {
                                <partial name="~/Views/Personagem/_SalvaguardaPreenchida.cshtml"></partial>
                            }
                        }
                    </div>
                    @* Pericia *@
                    <div class="border p-0">
                        <br>
                        <partial name="~/Views/Pericia/_DetalhePericia.cshtml"></partial>
                        <partial name="~/Views/Pericia/_EscolherPericiaModal.cshtml"></partial>
                    </div>
                </div>
            </div>
            @* Percepcao Passiva *@
            <div class="row">
                @* Percepcao Passiva *@
                <div class="col border py-1">
                    @if (Model.Percepcao is true)
                    {
                        <input type="text" size="1" readonly class="text-center"
                        value='@(Model.ModificadorSabedoria+10+Model.BonusProficiencia)'>
                    }
                    else
                    {
                        <input type="text" size="1" readonly class="text-center" value='@(Model.ModificadorSabedoria+10)'>
                    }
                    <label class="text-uppercase small">Percepção Passiva (Sabedoria)</label>
                </div>
            </div>
            <div class="row">
                <div class="col border p-0">
                    <textarea rows="5" class="w-100 border-0">
                        @foreach (var listaidiomapersonagem in @ViewBag.listaidiomapersonagem)
                        {
                            @foreach (var listaidioma in @ViewBag.listaidioma)
                            {
                                @if (listaidioma.IdIdioma == listaidiomapersonagem.IdIdioma && @Model.IdPersonagem == listaidiomapersonagem.IdPersonagem)
                                {
                                    @Html.Raw(@listaidioma.Nome + ", ")
                                }
                            }
                        }
                        @foreach(var listaclasse in @ViewBag.listaclasse)
                        {
                            @if(listaclasse.IdClasse == @Model.IdClasse)
                            {
                                @Html.Raw(@listaclasse.Proficiencia)
                            }
                        }

                    </textarea>
                    <label class="text-uppercase small d-block text-center">Idiomas e outras proeficiências</label>
                </div>
            </div>
        </div>
        <div class="col border">
            @* C.A + Iniciativa + Deslocamento *@
            <div class="row col">
                <div class="row">
                @* C.A *@
                <div class="col py-3 px-1 border">
                    <div class="text-center">
                        <label>Classe de Armadura</label>
                    </div>
                    <div class="text-center">
                        @foreach (var listapersonagemarmadura in @ViewBag.listapersonagemarmadura)
                        {
                            @foreach (var listaarmadura in @ViewBag.listaarmadura)
                            {
                                @if (Model.IdPersonagem == listapersonagemarmadura.IdPersonagem &&
                               listapersonagemarmadura.IdArmadura == listaarmadura.IdArmadura &&
                               listapersonagemarmadura.IsEquipada == true)
                                {
                                    @if (listaarmadura.IdArmadura < 4)
                                    {
                                        <input type="text" size="1"
                            value='@(listaarmadura.ClassedeArmadura+@Model.ModificadorDestreza)'>
                                    }
                                    else if (listaarmadura.IdArmadura < 9)
                                    {
                                        @if (@Model.ModificadorDestreza > 2)
                                        {
                                            <input type="text" size="1" value='@(listaarmadura.ClassedeArmadura+2)'>
                                        }
                                        else
                                        {
                                            <input type="text" size="1" value='@(listaarmadura.ClassedeArmadura+Model.ModificadorDestreza)'>
                                        }
                                    }
                                    else if (listaarmadura.IdArmadura < 13)
                                    {
                                        <input type="text" size="1" value='@(listaarmadura.ClassedeArmadura)'>
                                    }
                                }
                                    
                            }

                        }
                        <input type="text" size="1">
                    </div>
                </div>
                @* Iniciativa *@
                <div class="col py-3 px-1 border">
                    <div class="text-center">
                        <label>Iniciativa</label>
                    </div>
                    <div class="text-center">
                        <input type="text" size="1" readonly value="1" class="text-center mx-auto"
                            asp-for='@(Model.ModificadorDestreza)'>
                    </div>
                </div>
                @* Deslocamento *@
                <div class="col py-3 px-1 border">
                    <div class="w-100 text-center">
                        <label>Deslocamento</label>
                    </div>
                    <div class="w-100 text-center">
                        @foreach (var listaraca in @ViewBag.listaraca)
                        {
                            @if (listaraca.IdRaca == Model.IdRaca)
                            {
                                <input type="text" class="text-center mx-auto" readonly value='@(listaraca.Deslocamento)'
                            size="1">
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 py-3 border">
                    <div class="w-100">
                        <label>Pontos de Vida Máximos</label>
                        <label value="@Model.VidaTotal"></label>
                    </div>
                    <div class="w-100 text-center">
                        @if(@Model.IdClasse is not null && @Model.ModificadorConstituicao is not null && @Model.VidaTotal is null)
                        {
                            <form method="POST" id="form_setVida" asp-action="setVida" asp-action="Personagem" onload="submit()">
                                <input type="hidden" asp-for="@Model.IdPersonagem">
                                <input type="hidden" asp-for="@Model.Classe.DadoVida">
                            </form>
                        }
                        <input type="text" asp-for="@Model.VidaAtual" size="1">
                    </div>
                    <div class="w-100 text-center">
                        <label>Pontos de Vida Atuais</label>
                    </div>
                </div>
                <div class="col-12 py-3 border">
                    <div class="w-100 text-center">
                        N/A
                    </div>
                    <div class="w-100 text-center">
                        <label>Pontos de Vida Temporários</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col p-0 border">
                    <div class="row col">
                        <div>
                            <label>Total:</label>
                            @foreach (var listaclasse in @ViewBag.listaclasse)
                            {
                                @if (listaclasse.IdClasse == Model.IdClasse)
                                {
                                    <input type="text" class="text-center mx-auto" readonly
                                value='@Model.VidaTotal' size="1">
                                }
                            }
                        </div>
                    </div>
                    <div class="row col text-center">
                        <div>
                            @foreach (var listaclasse in @ViewBag.listaclasse)
                            {
                                @if (listaclasse.IdClasse == Model.IdClasse)
                                {
                                    <label class="fs-2">@Html.Raw("D"+@listaclasse.DadoVida)</label>
                                }
                            }
                        </div>
                    </div>
                    <div class="row col">
                        <div class="text-center">
                            <label>Dado de Vida</label>
                        </div>
                    </div>
                </div>
                <div class="col py-5 border">
                    <div class="w-100">
                        <label>SUCESSOS</label>
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                    </div>
                    <div class="w-100">
                        <label>FRACASSOS</label>
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                    </div>
                    <div class="w100">
                        <label class="small">SALVAGUARDA<span style="font-size: 10px">CONTRA</span>MORTE</label>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Bônus</th>
                            <th>Dano/Tipo</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var listapersonagemarma in @ViewBag.listapersonagemarma)
                        {
                            @foreach (var listaarma in @ViewBag.listaarma)
                            {
                                if (listapersonagemarma.IdArma == listaarma.IdArma && listapersonagemarma.IdPersonagem ==
                                @Model.IdPersonagem && listapersonagemarma.IsEquipada == true)
                                {
                                    <tr>
                                        <td>
                                            <input type="text" class="border-0 bg-secondary w-100" value=@listaarma.Nome>
                                        </td>
                                        <td>
                                            @foreach (var listaproficienciaarma in @ViewBag.listaproficienciaarma)
                                            {
                                                @if (listaproficienciaarma.IdArma == listaarma.IdArma &&
                                               listaproficienciaarma.IdPersonagem == @Model.IdPersonagem)
                                                {
                                                    @if (listaarma.IdTipoArma == 2 || listaarma.IdTipoArma == 4)
                                                    {
                                                        <input type="text" class="border-0 bg-secondary w-100"
                                    value='@(Model.BonusProficiencia+Model.ModificadorDestreza)'>
                                                    }
                                                    else
                                                    {
                                                        <input type="text" class="border-0 bg-secondary w-100"
                                    value='@(Model.BonusProficiencia+Model.ModificadorForca)'>
                                                    }
                                                }
                                                @if ((listaproficienciaarma.IdArma == listaarma.IdArma &&
                                               listaproficienciaarma.IdPersonagem == @Model.IdPersonagem) is null)
                                                {
                                                    @if (listaarma.IdTipoArma == 2 || listaarma.IdTipoArma == 4)
                                                    {
                                                        <input type="text" class="border-0 bg-secondary w-100"
                                    value='@(Model.ModificadorDestreza)'>
                                                    }
                                                    else
                                                    {
                                                        <input type="text" class="border-0 bg-secondary w-100"
                                    value='@(Model.ModificadorForca)'>
                                                    }
                                                }
                                            }
                                        </td>
                                        <td>
                                            <input type="text" class="border-0 bg-secondary w-100" value="@listaarma.DadoDano">
                                        </td>
                                    </tr>
                                }
                            }
                        }
                        <tr>
                            <td><input type="text" class="border-0 bg-secondary w-100"></td>
                            <td><input type="text" class="border-0 bg-secondary w-100"></td>
                            <td><input type="text" class="border-0 bg-secondary w-100"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-3 p-0">
                    <partial name="~/Views/Personagem/_EscolherDinheiroModal.cshtml"></partial>
                    <partial name="~/Views/Personagem/_DetalheDinheiro.cshtml"></partial>
                </div>
                <div class="col-9 p-0">
                    <partial name="~/Views/Ficha/_EquipamentoPartial.cshtml"></partial>
                    <partial name="~/Views/Item/_EscolherItemModal.cshtml"></partial>
                    <partial name="~/Views/Item/_AlterarItemModal.cshtml"></partial>
                </div>
            </div>
        </div>
        <div class="col border">
            <div class="row">

                <div class="col-12 border p-0" data-bs-target="#_AlterarTracoModal" data-bs-toggle="modal">
                    <textarea rows="5" class="w-100 border-0" readonly>
                        @Model.Traco
                    </textarea>
                    <label class="text-uppercase small d-block text-center">Traços de Personalidade</label>
                </div>
                <form method="POST" asp-action="AlterarTraco" asp-controller="Personagem">
                    <partial name="~/Views/Personagem/_AlterarTracoModal.cshtml"></partial>
                    <input type="hidden" asp-for="@Model.IdPersonagem">
                </form>

                <div class="col-12 border p-0" data-bs-target="#_AlterarIdealModal" data-bs-toggle="modal">
                    <textarea rows="5" class="w-100 border-0" readonly>
                        @Model.Ideal
                    </textarea>
                    <label class="text-uppercase small d-block text-center">Ideais</label>
                </div>
                <form method="POST" asp-action="AlterarIdeal" asp-controller="Personagem">
                    <partial name="~/Views/Personagem/_AlterarIdealModal.cshtml"></partial>
                    <input type="hidden" asp-for="@Model.IdPersonagem">
                </form>

                <div class="col-12 border p-0" data-bs-target="#_AlterarVinculoModal" data-bs-toggle="modal">
                    <textarea rows="5" class="w-100 border-0" readonly>
                        @Model.Vinculo
                    </textarea>
                    <label class="text-uppercase small d-block text-center">Vínculos</label>
                </div>
                <form method="POST" asp-action="AlterarVinculo" asp-controller="Personagem">
                    <partial name="~/Views/Personagem/_AlterarVinculoModal.cshtml"></partial>
                    <input type="hidden" asp-for="@Model.IdPersonagem">
                </form>

                <div class="col-12 border p-0" data-bs-target="#_AlterarDefeitoModal" data-bs-toggle="modal">
                    <textarea rows="5" class="w-100 border-0" readonly>
                        @Model.Defeito
                    </textarea>
                    <label class="text-uppercase small d-block text-center">Defeitos</label>
                </div>
                <form method="POST" asp-action="AlterarDefeito" asp-controller="Personagem">
                    <partial name="~/Views/Personagem/_AlterarDefeitoModal.cshtml"></partial>
                    <input type="hidden" asp-for="@Model.IdPersonagem">
                </form>

            </div>
            <div class="row">
                <div class="col-12 border p-0">
                    @{
                        string texto = "";
                        @foreach (var listahabilidaderaca in @ViewBag.listahabilidaderaca)
                        {
                            @foreach (var listahabilidade in @ViewBag.listahabilidade)
                            {
                                @if (listahabilidaderaca.IdRaca == @Model.IdRaca && listahabilidade.IdHabilidadeRacial ==
                           listahabilidaderaca.IdHabilidadeRacial)
                                {
                                    texto += listahabilidade.Nome + ", ";
                                }
                            }
                        }
                        @foreach (var listahabilidadesubraca in @ViewBag.listahabilidadesubraca)
                        {
                            @foreach (var listahabilidade in @ViewBag.listahabilidade)
                            {
                                @if (listahabilidadesubraca.IdSubRaca == @Model.IdSubRaca && listahabilidade.IdHabilidadeRacial ==
                           listahabilidadesubraca.IdHabilidadeRacial)
                                {
                                    texto += listahabilidade.Nome + ", ";
                                }
                            }
                        }
                        <textarea rows="10" class="w-100 border-0" readonly data-bs-toggle="modal"
                            data-bs-target="#_CaracteristicaModal">@texto</textarea>
                    }
                    <label class="text-uppercase small d-block text-center">Características e Talentos</label>
                    <partial name="~/Views/Personagem/_CaracteristicaModal.cshtml"></partial>
                </div>
            </div>
        </div>
    </div>
</div>
