@model IEnumerable<Usuario>;

@foreach (var usuario in @Model)
{
    <div class="row col-6 m-auto">
        <div class="col-3 border border-dark">
            @usuario.Nome
        </div>
    @foreach (var listapersonagem in @ViewBag.listapersonagem)
    {
        @if(listapersonagem.IdUsuario == usuario.IdUsuario)
        {
            <div class="col-3 border border-dark">
                @if(@listapersonagem.Nome is not null)
                {
                    @Html.Raw(@listapersonagem.Nome+"&#8205")
                }
            </div>
            <div class="col-3 border border-dark">
                if(@listapersonagem.IdRaca is not null)
                {
                    @Html.Raw(@listapersonagem.Raca.Nome+"&#8205")
                }
            </div>
            <div class="col-3 border border-dark">
                @if(@listapersonagem.IdClasse is not null)
                {
                    @Html.Raw(@listapersonagem.Classe.Nome+"&#8205")
                }
            </div>
        }
    }
    </div>
}